@import '../atoms/footer/privacyTerms';
@import '../atoms/footer/promotionTarget';
@import '../atoms/footer/socialMedia';

.footer{
    width: 100%;
    height: 45vh;
    background-color: black;
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}


.footer {
    width: 100%;
    height: 45vh;
    background-color: black;
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

.main-prices-container .white-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-prices-container .white-bar {
    width: 70%;
    height: 10vh;
    background-image: url('/imgs/whitebar.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}