@import '../atoms/main/productDescription';
@import '../atoms/main/sliderSmallCase';


main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .main__description--container {
        width: 250px;
        height: auto;
        display: flex;
        margin-block-start: 80px;
        margin-inline-start: 40px;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .main__product--container {
        width: 100%;
        min-height: 320px;
        text-align: center;
        position: relative;
        z-index: 3;
    }
}



@media screen and (max-width: 768px) {
    main {
        .main__description--container {
            margin-bottom: 380px;
        }
    }
}

@media screen and (max-width: 425px) {
    main {
        .main__description--container {
            margin-bottom: 480px;
        }
    }
}