@import '../atoms/main/productContainer';
@import '../atoms/main/productDescription';


main {
    width: 100%;
    display: flex;
    
    .main__product--container{
        width: 100%;
        min-height: 320px;
        text-align: center;
        position: relative;
        z-index: 3;
    }
    .main__carrousel--container{

    }
}

