.navBar__container{
    display: flex;
    width: 50%;
    .navBar__container--image{
        margin-left: 20px;
        width: 50px;
    }
    .header__nav{
        width: 100px;
        .header__nav--list{
            display: flex;
        }
    }
}