.pinky-background {
    width: 45vw;
    height: 200vh;
    background: $pinky-red;
    position: absolute;
    z-index: 0;
    box-shadow: 0 1px 6px 0 black;
    top: 0;
    right: -250px;
    transform: skew(7deg);
    z-index: 3;
}


.main-product-container {
    width: 400px;
    height: auto;
    display: flex;
    margin-block-start: 80px;
    margin-inline-start: 40px;
    flex-direction: column;
    margin-bottom: 70px;
}

.main-product-container .main-price {
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

.main-product-container .main-title {
    color: $ligth-green;
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-product-container .main-title span {
    color: white;
    font-weight: bold;
}

.main-product-description {
    margin-block-start: 10px;
    margin-block-end: 10px;
}


.main-product-description p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-inline-start: 10px;
}

.main-product-container .star-icon {
    background-image: url('../../../../public/images/icons/star.png');
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-product-container .main-rank {
    margin-block-start: 10px;
    margin-bottom: 10px;
}

.main-product-container a:hover {
    box-shadow: 0 0 8px 0 whitesmoke;
    border-color: #dfe1e500;
}

.main-product-container a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 250px;
    height: 50px;
    background-color: $pinky-red;
    border-radius: 35px;
    border: none;
    outline: none;
    text-align: center;
    padding-block-start: 13px;
    filter: drop-shadow(0px 6px 6px rgba(255, 255, 255, 0.25));
}

.main-product-container .main-title,
.main-product-container .main-price,
.main-product-container .main-rank {
    margin-inline-start: 10px;
}

.main-product-picture {
    width: 650px;
    height: 650px;
    position: absolute;
    z-index: 3;
    top: 80px;
    right: 50px;
    margin-inline-start: 5%;
    margin-inline-end: 20%;
}

.main-product-picture .main-picture {
    width: 650px;
    height: 650px;
    justify-content: center;
    align-self: center;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(341deg);
    border-radius: 600px;
}




@media screen and (max-width: 1440px) {
    .main-product-picture {
        width: 650px;
        height: 650px;
        position: absolute;
        z-index: 3;
        top: 164px;
        right: -337px;

        .main-picture {
            width: 600px;
            height: 600px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-product-picture {
        width: 650px;
        height: 650px;
        position: absolute;
        z-index: 3;
        top: 264px;
        right: -437px;

        .main-picture {
            width: 400px;
            height: 400px;
        }
    }
}

@media screen and (max-width: 768px) {
    .pinky-background {
        width: 35vw;
        height: 173vh;
        background: $pinky-red;
        position: absolute;
        z-index: 0;
        box-shadow: 0 1px 6px 0 black;
        top: 0;
        right: 142px;
        transform: skew(351deg);
        z-index: -3;
    }

    .main-product-picture {
        width: 20%;
        height: 20%;
        position: absolute;
        z-index: 3;
        top: 750px;
        right: 230px;

        .main-picture {
            width: 400px;
            height: 400px;
        }
    }
}


@media screen and (max-width: 425px) {
    .pinky-background {
        width: 35vw;
        height: 173vh;
        background: $pinky-red;
        position: absolute;
        z-index: 0;
        box-shadow: 0 1px 6px 0 black;
        top: 0;
        right: 142px;
        transform: skew(11deg);
        z-index: -3;
    }

    .main-product-container {
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        margin-left: 20px;
        margin-top: 0;
        margin-right: 0;
    }


    .main-product-picture {
        width: 20%;
        height: 20%;
        position: absolute;
        z-index: 3;
        top: 650px;
        right: 180px;

        .main-picture {
            width: 300px;
            height: 300px;
        }
    }
}



@media screen and (max-width: 375px) {
    .pinky-background {
        width: 65vw;
        height: 193vh;
        background: $pinky-red;
        position: absolute;
        z-index: 0;
        box-shadow: 0 1px 6px 0 black;
        top: 0;
        right: 142px;
        transform: skew(10deg);
        z-index: -3;
    }

    .main-product-container {
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        margin-left: 20px;
        margin-top: 0;
        margin-right: 0;
    }


    .main-product-picture {
        width: 20%;
        height: 20%;
        position: absolute;
        z-index: 3;
        top: 800px;
        right: 180px;

        .main-picture {
            width: 280px;
            height: 280px;
        }
    }
}